<div class="header-container">
    <div class="header-logo">
        <div class="header-image">
            <a href="/"><img src="/images/srm-trp-logo.png" alt="srm-trp-logo"></a>
        </div>
    </div>
    <div class="header-list">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="events">Events</a></li>
            <li><a href="venue">Venue</a></li>
            <li><a href="contact-us">Contact us</a></li>
        </ul>
    </div>
</div>