<div class="header-container">
    <div class="header-logo">
        <div class="header-image">
            <img src="/images/srm-trp-logo.png" alt="">
        </div>
    </div>
    <div class="headerlist">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Schedule</a></li>
            <li><a href="">Speaker</a></li>
            <li><a href="">Venue</a></li>
        </ul>
    </div>
</div>